
p, a {
    font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
.custom-button {
    width: 10rem;
}

.custom-navbar {
    font-weight: 600;
    background-color: rgb(214, 214, 214);
}

.custom-heading {
    height: 20rem;
    text-align: center;
    background-color: #fff;
}

.custom-heading h1 {
    font-weight: 200;
}

.custom-heading p {
    font-weight: 200;
}


.team-profile h4 {
    font-weight: 700;

}


.profile-img {
    border-radius: 100%;
    object-fit:cover;
    width: 70%;
}


.social-media-favicon {
    width: 25px;
    margin-right: 1%;
}


.custom-carousel {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.carousel-container {
    position:relative;
}

.carousel-text {
    position: absolute;
    z-index: 1000;
    top: 2rem;
    right: 10rem;
    padding: 2% 5%;
    margin: 5% 2%;
    color: #fff;
    background-color: rgb(4, 177, 154);
}

.carousel-text h1 {
    font-size: 5rem;
}

.search-bar {
    background-color: rgb(255, 176, 72);
    border: none;
    padding: 5% 2%;
}

.search-button {
    border-radius: 20px;
    background-color:rgb(255, 176, 72);
    border: 2px solid #000;
    padding: 1% 8%;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.search-button:hover {
    background-color: rgb(49, 146, 133);
    border: none;
    color: #fff;

}


.search-input {
    border-radius: 20px;
    border: none;
}

.menu-img {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
    padding-top: 5%;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 1.5s;
  }

.button-2 {
    background-color: rgb(4, 177, 154);
    color: #fff;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 700;
}

.button-2:hover {
    background-color: rgb(49, 146, 133);
    color: #fff;
    border-radius: 20px;
    font-family: "Quicksand";
    font-weight: 700;
}